@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */

/* Screens */

@import "screens/login.css";

body {
  font-family: "Song Myung", serif;);
  width: 100vw;
  height: 100vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
