@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */

/* Screens */

@import "screens/login.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: ;
  width: 1200px;
  height: 720px;
  font-weight: 600;
}
