@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */

/* Screens */

@import "screens/login.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 950px;
  height: 480px;
  font-weight: 600;
  border: 2px solid black;
  margin: 10px;
}
