.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.setting-list:first-child {
  margin-bottom: 50px;
}
