.badge {
  font-size: 12px;
  background-color: var(--spurscolor);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
