.screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 45px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
  margin-right: auto;
}
.screen-header__icons {
  margin-left: auto;
  position: relative;
}
.screen-header__icons span {
  margin-left: 25px;
}
